body {
    background-color: #feffc3;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-sm .btn, h1 {
    text-transform: uppercase;
    font-size: 80px;
}

.col-sm-12 {
    padding-top: 10%;
}

.user {
    margin-top: 50px;
}

.user h4 {
    font-size: 30px;
    text-transform: uppercase;
}

#player1 img {
    margin-top: 30px;
    padding-top: 10px;
    width: 50px;
}

.versus h3 {
    font-size: 60px;
    color: red;
    margin-top: 30%;
}

#comp img {
    margin-top: 30px;
    padding-top: 10px;
    width: 50px;
}

.refresh img {
    margin-top: 30px;
    width: 50px;
    padding-bottom: 10%;
}